html {
	height: 100%;
}

body {
	height: 100%;
	margin-top: 0px;
	font: 0.8em Verdana;
}

#homecontent {
	position: absolute;
	top: 6em;
	height: auto;
	background-color: #ffffff;
	width: 99%;
}

#homeleft {
	width: 20%;
	float: left;
	background-color: #b7b7ff;
	min-height: 50em;
	border-right: 1px black solid;
	padding: 1%;
}

#homecenter {
	width: 51.7%;
	left: 21%;
	float: left;
	padding: 1%;
	margin-right: 1%;
}

#homeright {
	width: 20.2%;
	float: left;
	left: 81%;
	padding: 1%;
	background-color: #b7b7ff;
	min-height: 50em;
}

#hometop {
	height: 6em;
	width: 99.4%;
	padding-top: 0.5em;
	padding-left: 1.0em;
	background-color: #8080ff;
	z-index: 1;
	border-bottom: 2px black solid;
}

#hometopleft {
	height: 6em;
	width: 30%;
	padding-left: 1.0em;
	background-color: #8080ff;
	float: left;
	z-index: 1;
}

#hometopright {
	height: 6em;
	width: 60%;
	background-color: #8080ff;
	float: right;
	z-index: 1;
}
#footer {
	clear: both; float: left; text-align: center; width: 100%; border-top: 1px black solid; border-bottom: 2px black solid;
}

.bot {
	display:none;	
}


label {
width: 5em;
float: left;
text-align: right;
margin-right: 0.8em;
display: block;
}

.submit input {
margin-left: 5em;
}

input {
color: #000000;
background: #f5f5f5;
border: 1px solid #781351;
}

.submit input {
color: #ff0000;
background: #f3f1f1;
border: 2px outset #000000;
}

fieldset {
border: 1px solid #000000;
width: 18em;
}

legend {
color: #ff0000;
background: #f3f1f1;
border: 1px solid #000000;
}

.autosuggest, .dropdown, .result {
	margin: 0;
	padding: 0;
	border: 0;
	width: 250px;
}

.autosuggest {
	padding: 4px;
	border: 1px black solid;
}

.result {
	width: 250px;
	list-style: none;
}

.result li {
	padding: 5px;
	border: 1px black solid;
	border-top: 0;
	cursor: pointer;
}

.result li:hover {
	background: black;
	color: white;
}

.search {
	padding-top: 2px;
	padding-bottom: 2px;
}

#landingleft {
	width: 25%;
	float: left;
	background-color: #b7b7ff;
	min-height: 50em;
	border-right: 1px black solid;
	padding: 1%;
}

#landingright {
	width: 67%;
	float: right;
	background-color: #ffffff;
	min-height: 50em;
	padding: 1%;
	margin-right: 0.8%;
}

@font-face
{
font-family: myFirstFont;
src: url('bendable.ttf'),
     url('bendable.eot') format("opentype"); /* IE */
}

.bunchofus {
	font-family: myFirstFont;
	color: #ee1c11;
	text-decoration: none;
	font-size: xx-large;
}